
{% extends 'FrontBundle:Default:index.html.twig'%}

{%block ubicacion%}
<a href="{{path('producto')}}">Producto</a> <div class="breadcrumb_divider"></div><a class="current">Editar</a>
{%endblock ubicacion%}

{%block cuerpo1%}

<article class="module width_full">
    <header><h3>Editar Artículo</h3></header>
    <div class="module_content">

        <form action="{{ path('producto_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.CodProducto, 'Codigo :') }}
            {{form_widget(edit_form.CodProducto)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Nombre, 'Nombre :') }}
            {{form_widget(edit_form.Nombre)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Descripcion, 'Descripcion :') }}
            {{form_widget(edit_form.Descripcion)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Marca, 'Marca :') }}
            {{form_widget(edit_form.Marca)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Categoria, 'Categoria :') }}
            {{form_widget(edit_form.Categoria)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Stock, 'Unidades Disponibles :') }}
            {{form_widget(edit_form.Stock)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.UnidadMedida, 'Medida :') }}
            {{form_widget(edit_form.UnidadMedida)}}</fieldset>
            <fieldset style="width:50%; padding: 1%;">
            {{ form_label(edit_form.Precio, 'Precio Sugerido :') }}
            {{form_widget(edit_form.Precio)}}</fieldset>
        

        <form action="{{ path('producto_delete', { 'id': entity.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                <button type="submit" class="alt_btn">Eliminar</button> 
        </form>

    </div>
    <footer>
        <div class="submit_link">
                                                   
            <button type="submit">Guardar</button></form>
        </div>
    </footer>                        
                                            
</article><!-- end of post new article -->

{%endblock cuerpo1%}

