
{% extends 'FrontBundle:Default:index.html.twig'%}

{%block ubicacion%}
<a href="#">Producto</a> <div class="breadcrumb_divider"> <!--</div><a class="current">Editar</a>-->
{%endblock ubicacion%}

{%block cuerpo1%}


		<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Lista de Productos</h3>
		<ul class="tabs">
   			<li><a href="#tab1">pagina 1</a></li>
    		<li><a href="#tab2">pagina 2</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<!--<th>Id</th> -->
                                <!--<th>Codigo</th>-->
                                <th>Nombre</th>
                                <!--<th>Descripcion</th>-->
                                <th>Marca</th>
                                <th>Categoria</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                                <th>Precio</th>
                                <th>Acciones</th> 
				</tr> 
			</thead> 
                        <tbody id="respuesta"> 
                            
                            {% for entity in entities %}
        
    
				
                            
                                <tr> 
   				<td><input type="checkbox"></td> 
                                    
                                {#<td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                                {#<td>{{ entity.CodProducto }}</td>#}
                                <td>{{ entity.Nombre }}</td>
                                {#<td>{{ entity.Descripcion }}</td>#}
                                <td>{{ entity.Marca }}</td>
                                <td>{{ entity.Categoria }}</td>
                                <td>{{ entity.Stock }}</td>
                                <td>{{ entity.UnidadMedida }}</td>
                                <td>{{ entity.Precio }}</td>
                                <td>
                                        <a href="{{ path('producto_show', { 'id': entity.id }) }}">Detalles</a>
                                                                             
                                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}">Editar</a>
                                                                  
                                </td>
                                
    				<!--<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				--></tr> 
                            {%endfor%}        
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			<!--<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<th>Comment</th> 
    				<th>Posted by</th> 
    				<th>Posted On</th> 
    				<th>Actions</th> 
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Lorem Ipsum Dolor Sit Amet</td> 
    				<td>Mark Corrigan</td> 
    				<td>5th April 2011</td> 
    				<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr> 
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Ipsum Lorem Dolor Sit Amet</td> 
    				<td>Jeremy Usbourne</td> 
    				<td>6th April 2011</td> 
   				 	<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr>
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Sit Amet Dolor Ipsum</td> 
    				<td>Super Hans</td> 
    				<td>10th April 2011</td> 
    				<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr> 
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Dolor Lorem Amet</td> 
    				<td>Alan Johnson</td> 
    				<td>16th April 2011</td> 
   				 	<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr> 
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Dolor Lorem Amet</td> 
    				<td>Dobby</td> 
    				<td>16th April 2011</td> 
   				 	<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr> 
			</tbody> 
			</table>

			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
                <footer>
                    <div class="submit_link">

                    </div>
                </footer>
                
</article><!-- end of content manager article -->
                
               
{%endblock cuerpo1%}

