

{%block ubicacion%}
<a href="{{path('compra')}}">Compra</a> <div class="breadcrumb_divider"></div><!--<a class="current">Editar</a>-->
{%endblock ubicacion%}

{%block cuerpo1%}

<article class="module width_3_quarter">
    <header><h3 class="tabs_involved">Lista Compra</h3>
        <ul class="tabs">
            <li><a href="#tab1">Página 1</a></li>          
        </ul>
    </header>

    <div class="tab_container">
        <div id="tab1" class="tab_content">
                <table class="tablesorter" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipodocumento</th>
                        <th>Numerodocumento</th>
                        <th>Fecha</th>
                        <th>Montototal</th>
                        <!--<th>Tipopago</th>-->
                        <th>Fechaenvio</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('compra_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.TipoDocumento }}</td>
                            <td>{{ entity.NumeroDocumento }}</td>
                            <td>{% if entity.Fecha %}{{ entity.Fecha|date('Y-m-d H:i:s') }}{% endif%}</td>
                            <td>{{ entity.MontoTotal }}</td>
                            {#<td>{{ entity.TipoPago }}</td>#}
                            <td>{% if entity.FechaEnvio %}{{ entity.FechaEnvio|date('Y-m-d H:i:s') }}{% endif%}</td>
                            <td> 

                                <a href="{{ path('compra_show', { 'id': entity.id }) }}">Detalles</a>                        
                                <a href="{{ path('compra_edit', { 'id': entity.id }) }}">Editar</a>                        
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>    
                </table>
        </div>            

        <form action="{{ path('compra_new')}}">                           
            <input type="image" src="{{asset('bundles/front/images/icn_new_article.png')}}">                                   
        </form>
     </div>
    <footer>
        <div class="submit_link"></div>
    </footer>         
</article>

{%endblock cuerpo1%}